@use '../utils' as *;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
    
  .app-container {
    max-height: 600px;
    width: 60%;
    max-width: 550px;

    @include breakpoint-down(medium) {
      max-width: 90vw;
    }
    
    .header {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;

      .logo {
        width: rem(500px);
        height: fit-content;
        margin: 0 auto;
    
        @include breakpoint-down(medium) {
            width: rem(300px);
        }
      }
    }

    .small-title {
      font-family: var(--font-general);
      font-weight: var(--font-regular);
      margin-bottom: 20px;
      text-align: center;

      @include breakpoint-down(medium) {
        max-width: rem(300px);
    }
    }

    .add-thoughts {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include breakpoint-down(medium) {
        max-width: 90vw;
      }
    }
  }
}

.Thought {
  display: flex;
  flex-direction: column;
  border: 1px solid #3E6765;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;

  @include breakpoint-down(medium) {
    max-width: 90vw;
  }
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #3E6765;
  margin-top: 10px;
  cursor: pointer;

    &:hover {
      box-shadow: 1px 3px 6px 1px hsla(177, 25%, 32%, .5);
    }
}

.add-thought-form {
  display: flex;

  @include breakpoint-down(medium) {
    max-width: rem(300px);
    flex-direction: column;
}

  input {
      padding: 20px;
      width: 400px;
      border: 1px solid #3E6765;
      border-radius: 10px;

      @include breakpoint-down(medium) {
        width: initial;
        max-width: 90vw;
      }
  }

  button {
      margin-left: 30px;
      padding: 20px;
      margin-top: initial;

      @include breakpoint-down(medium) {
        margin-left: initial;
        margin-top: rem(20px);
      }
  }
}


